/*  POINTS DE RUPTURE (breakpoints)
 ***************************************/
$phone          : 320px;
$phone-wide     : 543px;
$tablet         : 768px;
$tablet-wide    : 991px;
$desktop        : 1200px;
$desktop-wide   : 1600px;

/*  CONTENEURS (containers)
 ***************************************/
$container-width: 1170px;
$sidebar-width  : 360px;
$gutter-width   : 20px;

/*  THEME DE COULEURS
 ***************************************/
$page-background: #F0EDED;
$page-background-dark: #383838;
$text-background: #FFF;
$main-color: #F2748B;
$darker-color: #710627;
$accent-color: #4056F4;
