/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  POINTS DE RUPTURE (breakpoints)
 ***************************************/
/*  CONTENEURS (containers)
 ***************************************/
/*  THEME DE COULEURS
 ***************************************/
/*  STYLES DES PLACEHOLDER DE CHAMPS DE FORMULAIRES
 ***************************************************************/
/*  MEDIAS QUERIES SIMPLIFIEES
 ***************************************************************/
/*  GENERE DES TRIANGLES
 ***************************************************************/
/*  ANIMATION
 ***************************************************************/
@media (min-width: 1200px) {
  /* line 1, ../sass/config/_helpers.scss */
  .hide-from-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  /* line 6, ../sass/config/_helpers.scss */
  .hide-from-tablet {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  /* line 12, ../sass/config/_helpers.scss */
  .hide-under-desktop {
    display: none !important;
  }
}

@media (max-width: 767px) {
  /* line 17, ../sass/config/_helpers.scss */
  .hide-under-tablet {
    display: none !important;
  }
}

/* line 23, ../sass/config/_helpers.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/** Typography **/
/* line 1, ../sass/config/_typos.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Sacramento', cursive;
  font-weight: 700;
}

/* line 6, ../sass/config/_typos.scss */
*,
body,
html {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

/* line 15, ../sass/config/_typos.scss */
h1 {
  font-size: 24px;
  line-height: 180%;
}

/* line 16, ../sass/config/_typos.scss */
h2 {
  font-size: 22px;
  line-height: 160%;
}

/* line 17, ../sass/config/_typos.scss */
h3 {
  font-size: 20px;
  line-height: 140%;
}

/* line 18, ../sass/config/_typos.scss */
h4 {
  font-size: 18px;
  line-height: 130%;
}

/* line 19, ../sass/config/_typos.scss */
h5 {
  font-size: 16px;
}

/* line 20, ../sass/config/_typos.scss */
h6 {
  font-size: 14px;
}

/* line 21, ../sass/config/_typos.scss */
.subtitle {
  font-weight: 800;
  font-size: 16px;
}

/* line 23, ../sass/config/_typos.scss */
strong {
  font-weight: 500;
}

/* line 24, ../sass/config/_typos.scss */
em {
  font-style: italic;
}

/* line 26, ../sass/config/_typos.scss */
a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #4056F4;
  text-decoration: none;
}
/* line 32, ../sass/config/_typos.scss */
a:hover {
  color: #0b22c3;
}

/** Layout **/
/* line 1, ../sass/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_layout.scss */
.container {
  max-width: 1170px;
  margin: 0 auto;
}
/* line 11, ../sass/_layout.scss */
.container.-sidebar aside {
  max-width: 360px;
  margin-left: 20px;
}

/** Pages **/
@media (min-width: 1200px) {
  /* line 2, ../sass/pages/_front-page.scss */
  .home main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  /* line 7, ../sass/pages/_front-page.scss */
  .home main .slide {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 3%;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    /** INTERACTIONS **/
    /** SLIDE SPECIFIC STYLES **/
  }
  /* line 19, ../sass/pages/_front-page.scss */
  .home main .slide .wrapper {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 100vh;
    position: relative;
  }
  /* line 25, ../sass/pages/_front-page.scss */
  .home main .slide .wrapper .inner-wrapper {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
  }
  /* line 34, ../sass/pages/_front-page.scss */
  .home main .slide .wrapper .inner-wrapper h2 {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 55px;
    position: relative;
  }
  /* line 41, ../sass/pages/_front-page.scss */
  .home main .slide .wrapper .inner-wrapper h2::after {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: '';
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    opacity: 0;
  }
  /* line 55, ../sass/pages/_front-page.scss */
  .home main .slide .wrapper .inner-wrapper .subtitle,
  .home main .slide .wrapper .inner-wrapper .wysiwyg-content,
  .home main .slide .wrapper .inner-wrapper .content {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    display: none;
    font-size: 18px;
    line-height: 140%;
  }
  /* line 66, ../sass/pages/_front-page.scss */
  .home main .slide .wrapper .inner-wrapper .btn-innerlink {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
    min-width: 250px;
    width: 80%;
    background-color: #F2748B;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    padding: 15px 20px;
  }
  /* line 79, ../sass/pages/_front-page.scss */
  .home main .slide .wrapper .inner-wrapper .btn-innerlink:hover {
    background-color: #710627;
  }
  /* line 87, ../sass/pages/_front-page.scss */
  .home main .slide .wrapper {
    background-color: rgba(113, 6, 39, 0.2);
  }
  /* line 91, ../sass/pages/_front-page.scss */
  .home main .slide.-active {
    width: 88%;
  }
  /* line 94, ../sass/pages/_front-page.scss */
  .home main .slide.-active .inner-wrapper {
    padding: 25px;
  }
  /* line 97, ../sass/pages/_front-page.scss */
  .home main .slide.-active .inner-wrapper h2 {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  /* line 98, ../sass/pages/_front-page.scss */
  .home main .slide.-active .inner-wrapper h2:after,
  .home main .slide.-active .inner-wrapper .subtitle,
  .home main .slide.-active .inner-wrapper .wysiwyg-content,
  .home main .slide.-active .inner-wrapper .content {
    opacity: 1;
    display: block;
  }
  /* line 106, ../sass/pages/_front-page.scss */
  .home main .slide.-active .inner-wrapper .wysiwyg-content,
  .home main .slide.-active .inner-wrapper .content {
    margin-top: 50px;
    padding: 25px;
    background-color: rgba(113, 6, 39, 0.4);
    text-align: left;
  }
  /* line 115, ../sass/pages/_front-page.scss */
  .home main .slide.-active:hover .wrapper {
    background-color: rgba(113, 6, 39, 0.2);
    cursor: initial;
  }
  /* line 119, ../sass/pages/_front-page.scss */
  .home main .slide:hover .wrapper {
    background-color: rgba(113, 6, 39, 0.5);
    cursor: pointer;
  }
  /* line 125, ../sass/pages/_front-page.scss */
  .home main .slide.-ecritures ul, .home main .slide.-experiences ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 131, ../sass/pages/_front-page.scss */
  .home main .slide.-ecritures ul li, .home main .slide.-experiences ul li {
    width: 49%;
  }
  /* line 139, ../sass/pages/_front-page.scss */
  .home main .slide.-experiences .inner-wrapper {
    min-width: 500px;
  }
  /* line 143, ../sass/pages/_front-page.scss */
  .home main .slide.-experiences ul > li {
    position: relative;
  }
  /* line 146, ../sass/pages/_front-page.scss */
  .home main .slide.-experiences ul > li > a {
    display: block;
    padding: 25px;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #F2748B;
    text-align: center;
  }
}
